doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      h1 Books
      p
        a(href = "/books/new" class="button") Create New Button
      table
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in books
            book
              tr
                td
                  a(href="/books/" + book.id)= book.title
                td= book.author
                td= book.genre
                td= book.year
